[submodule "Sublime Text/Packages/Theme - Soda"]
	path = Sublime Text/Packages/Theme - Soda
	url = https://github.com/buymeasoda/soda-theme.git
[submodule "prezto"]
	path = prezto
	url = git@github.com:NanoXD/prezto.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
