[submodule "Sublime Text/Packages/Theme - Soda"]
	path = Sublime Text/Packages/Theme - Soda
	url = https://github.com/buymeasoda/soda-theme.git
[submodule "prezto"]
	path = prezto
	url = git@github.com:NanoXD/prezto.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git@github.com:NanoXD/tmux-powerline.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "tmuxifier"]
	path = tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
