# Compiled Python Files
*.pyc

# Folder view configuration files
*.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files on External Drives
.Spotlight-V100
.Trashes

# Cache, Swap, and logs
*.sw[a-z]
.bundle
.sass-cache/
!tmp/cache/.keep
log/*.log
rerun.txt

# Database
db/*.sqlite3

# Multimedia
*.mp4

# Ruby specific
vendor/bundler_gems
zeus.json

# ctags
tags
TAGS

tmp/**/*
vim/.netrwhist

